<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http: //www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Fallback styling only, use inline -->
    <style>
        a {
            color: #059EC2;
        }

        @media (max-width: 580px) {
            h1, h2, h3, h4, h5, h6,
            a, p,
            img {
                width: 100%!important;
                height: auto!important;
                margin-left: 0!important;
            }
        }
    </style>
    <!-- End fallback styling -->
</head>

<body style="
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    min-width: 100%;
    margin: 0;
    line-height: 1.2;
    padding: 0;
    text-align: left;
    width: 100% !important;
">

<center>
    <!-- Outer table, margins/content -->
    <table border="0" cellpadding="0" cellspacing="0" style="
        width: 100%;
        max-width: 580px;
    ">
        <tr>
            <td width="20"></td><!-- Padding, left -->

            <td>
                <!-- Inner table, content -->
                <table border="0" cellpadding="0" cellspacing="0" style="
                    width: 100%;
                    max-width: 540px;
                ">
                    <tr>
                        <td style="
                                border-bottom: 1px dashed #B3B3B3;
                                padding: 0;
                            "
                            valign="middle">

                            Your content here...
                        </td>
                    </tr>
                </table>
                <!-- End inner table -->
            </td>

            <td width="20"></td><!-- Padding, right -->
        </tr>
    </table>
    <!-- End outer table -->
</center>
</body>
</html>
