<!-- Outer table, margins/content -->
<table border="0" cellpadding="0" cellspacing="0" style="
    width: 100%;
    max-width: 580px;
">
    <tr>
        <td width="20"></td><!-- Padding, left -->

        <td>
            <!-- Inner table, content -->
            <table border="0" cellpadding="0" cellspacing="0" style="
                width: 100%;
                max-width: 540px;
            ">
                <tr>
                    <td style="
                            border-bottom: 1px dashed #B3B3B3;
                            padding: 0;
                        "
                        valign="middle">

                        {{ default }}
                    </td>
                </tr>
            </table>
            <!-- End inner table -->
        </td>

        <td width="20"></td><!-- Padding, right -->
    </tr>
</table>
<!-- End outer table -->
